*{
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}

body {
	background-image: url(../img/bg.jpg); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
    background-repeat: repeat;
	}
.navi {
	background-color: white;
	opacity: 0.9;
	border-radius: 50px;
	padding: 5px;
	border: 1px double black;
	margin-bottom: 25px;	
	}
p {font-family: arial;
	font-size: 20px;
	}
.left{
	width: 50%;
	float: left;
}
.right{
		width: 50%;
	float: right;
}
.centr{
	clear: both;
}
li {
	display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    padding: 3px; /* Поля вокруг текста */
	}
header {
	background-color: white;
	opacity: 0.9;
	border-radius: 15px;
	margin-bottom: 25px;
	border: 1px double black;
	}
.contents {
	background-color: white;
	opacity: 0.9;
	border-radius: 15px;
	padding: 15px;
	border: 1px double black;
	min-height: 800px;
	margin-bottom: 25px;
		}
footer {
	background-color: white;
	opacity: 0.9;
	border-radius: 5px;
	padding: 5px;
	border: 1px double black;
	}

.navi a {
	color: red;
}

.navi a:hover {
	color: black;
}

